# Ignore source files
src/*
src

# Ignore development tools and configuration files
node_modules/
.git/
.editorconfig
.eslintrc
tsconfig.json
.github
.husky
.vscodes
.release
scripts

.eslintignore
.eslintrc.cjs
.lintstagedrc
.prettierrc
.releaserc
yarn.lock
package-lock.json
todo.txt
